.keywordDiv {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing);
  }
  
  .keyword {
    display: flex;
    gap: var(--spacing);
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  
  }
  
  .keyword h3 {
    background-color: lightgray;
    width: 100%;
    text-align: center;

    border-color: black;
    border-style: solid;
    border-radius: 0.5rem;
  }
  
 