blockquote p {
    font-weight:bold;
    font-size: large;
    margin-top: 0.5rem;

}

.content {
    margin-top: 0.5rem;
}

img {
    max-width: 70%;
    width: 1000px;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: black;

   
  }