.question {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    margin-top: var(--spacing);  
    margin-left: 0.5rem;
    font-weight: bold;
  }

  .questionDiv {
    border-color: black;
    background: lightgrey;
    margin-bottom: 1rem;
    border-style: solid;
    border-radius: 0.5rem;
    
  }

  .answerDiv {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  label {
    margin: 5px;
  }


  input {
    margin-left: 0.5rem;
  }